.blueShirt {
  -webkit-filter: invert(50%) sepia(100%) hue-rotate(150deg);
}

.pinkShirt {
    -webkit-filter: invert(50%) sepia(100%) hue-rotate(250deg);
}

.yellowShirt {
    -webkit-filter: invert(50%) sepia(100%) hue-rotate(350deg);
}
